In [1]:
import pandas as pd
import json
import gzip
import re
import ast

## Analyzing Users Table

### Fixing the incorrect json file

In [2]:
import json
import gzip
 
with gzip.open("users.json.gz", "rt") as f:
    data = f.read()

In [3]:
# realize the data is not in proper json format so can not use json library
users = data.split('\n')

In [4]:
users[0].split(',')

['{"_id":{"$oid":"5ff1e194b6a9d73a3a9f1052"}',
 '"active":true',
 '"createdDate":{"$date":1609687444800}',
 '"lastLogin":{"$date":1609687537858}',
 '"role":"consumer"',
 '"signUpSource":"Email"',
 '"state":"WI"}']

In [5]:
# this is the special parser that will parse the json files
def parser(records):
    record_list = []
    for record in records:
        record_dict = {}
        for pair in record.split(','):
            key_vals = pair.split(':')
            record_dict[re.sub('[^A-Za-z0-9]+', '', key_vals[0])] = re.sub('[^A-Za-z0-9]+', '', key_vals[-1])
        record_list.append(record_dict)
    return record_list

In [6]:
parsed_users = parser(users)

In [7]:
user_df = pd.DataFrame(parsed_users)

In [8]:
# dropping additional additional column our parser produces 
user_df = user_df.drop('', axis = 1)

In [9]:
# we have pandas df to analyze the user data now.
user_df

,id,active,createdDate,lastLogin,role,signUpSource,state
0,5ff1e194b6a9d73a3a9f1052,true,1609687444800,1609687537858,consumer,Email,WI
1,5ff1e194b6a9d73a3a9f1052,true,1609687444800,1609687537858,consumer,Email,WI
2,5ff1e194b6a9d73a3a9f1052,true,1609687444800,1609687537858,consumer,Email,WI
3,5ff1e1eacfcf6c399c274ae6,true,1609687530554,1609687530597,consumer,Email,WI
4,5ff1e194b6a9d73a3a9f1052,true,1609687444800,1609687537858,consumer,Email,WI
...,...,...,...,...,...,...,...
491,54943462e4b07e684157a532,true,1418998882381,1614963143204,fetchstaff,NaN,NaN
492,54943462e4b07e684157a532,true,1418998882381,1614963143204,fetchstaff,NaN,NaN
493,54943462e4b07e684157a532,true,1418998882381,1614963143204,fetchstaff,NaN,NaN
494,54943462e4b07e684157a532,true,1418998882381,1614963143204,fetchstaff,NaN,NaN
495,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Looking for missing values and duplicates

In [10]:
# we can see that every column in the data has missing values
user_df.isna().sum()

id               1
active           1
createdDate      1
lastLogin       63
role             1
signUpSource    49
state           57
dtype: int64

In [11]:
# We exlude all rows where the id null
user_df = user_df.dropna(axis=0, subset=['id'])

### We find that the lastLogin, signUpSource, and state have nulls

In [12]:
pre_dup = len(user_df)
user_df.duplicated(subset=['id'], keep='first')

0      False
1       True
2       True
3      False
4       True
       ...
490     True
491     True
492     True
493     True
494     True
Length: 495, dtype: bool

In [13]:
# We can see that there are multiple duplicates of rows
user_df = user_df.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)

In [14]:
user_df.drop_duplicates(subset=['id'], keep='first', inplace=False, ignore_index=False)

,id,active,createdDate,lastLogin,role,signUpSource,state
0,5ff1e194b6a9d73a3a9f1052,true,1609687444800,1609687537858,consumer,Email,WI
3,5ff1e1eacfcf6c399c274ae6,true,1609687530554,1609687530597,consumer,Email,WI
6,5ff1e1e8cfcf6c399c274ad9,true,1609687528354,1609687528392,consumer,Email,WI
7,5ff1e1b7cfcf6c399c274a5a,true,1609687479626,1609687479665,consumer,Email,WI
9,5ff1e1f1cfcf6c399c274b0b,true,1609687537564,1609687537599,consumer,Email,WI
...,...,...,...,...,...,...,...
435,5fc961c3b8cfca11a077dd33,true,1607033283936,1614379156799,fetchstaff,Email,NH
455,5fa41775898c7a11a6bcef3e,true,1604589429396,1614873722026,fetchstaff,Email,NaN
456,5fa32b4d898c7a11a6bcebce,true,1604528973309,1614842518047,fetchstaff,Google,AL
462,5964eb07e4b03efd0c0f267b,true,1499785991771,1614884869770,fetchstaff,NaN,IL
475,54943462e4b07e684157a532,true,1418998882381,1614963143204,fetchstaff,NaN,NaN

In [15]:
# There are 3087 duplicate rows
post_dup = len(user_df)
pre_dup - post_dup

283

In [16]:
score_count = user_df.groupby(['signUpSource']).count()
score_count

               id  active  createdDate  lastLogin  role  state
signUpSource
Email         204     204          204        166   204    200
Google          3       3            3          1     3      3

In [17]:
role_count = user_df.groupby(['role']).count()
role_count

             id  active  createdDate  lastLogin  signUpSource  state
role
consumer    204     204          204        164           202    201
fetchstaff    8       8            8          8             5      5

## Analyzing Receipts Table

In [18]:
with gzip.open("receipts.json.gz", "rt") as f1:
    data1 = f1.read()

In [19]:
receipts = data1.split('\n')

## For the Sake of normalization we should should have a seperate table to reciept list items so each of them have their own cell

In [20]:
items = []
for s in receipts:
    list_dict = s[s.find("[")+1:s.find("]")]
    items1 = list_dict.split('},{')
    for i in items1:
        item_details = i.split(",")
        details = {}
        for h in item_details:
            key_val = h.split(":")
            try:
                details[re.sub('[^A-Za-z0-9]+', '', key_val[0])] = re.sub('[^A-Za-z0-9]+', '', key_val[1])
            except:
                continue
        items.append(details)

In [21]:
items = pd.DataFrame(items)

In [22]:
items

,barcode,description,finalPrice,itemPrice,needsFetchReview,partnerItemId,preventTargetGapPoints,quantityPurchased,userFlaggedBarcode,userFlaggedNewItem,...,rewardsReceiptStatus,userId,metabriteCampaignId,purchasedItemCount,totalSpent,bonusPointsEarned,bonusPointsEarnedReason,finishedDate,pointsAwardedDate,purchaseDate
0,4011,ITEMNOTFOUND,2600,2600,false,1,true,5,4011,true,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4011,ITEMNOTFOUND,1,1,NaN,1,NaN,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,028400642255,DORITOSTORTILLACHIPSPICYSWEETCHILIREDUCEDFATBA...,1000,1000,true,2,true,1,028400642255,true,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,false,1,true,NaN,4011,true,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4011,ITEMNOTFOUND,2800,2800,false,1,true,4,4011,true,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7377,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,SUBMITTED,5fc961c3b8cfca11a077dd33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7378,B076FJ92M4,muelleraustriahypergrindprecisionelectricspice...,2297,2297,NaN,0,NaN,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7379,B07BRRLSVC,thindustsummerfacemasksunprotectionneckgaiterf...,1199,1199,NaN,1,NaN,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,SUBMITTED,5fc961c3b8cfca11a077dd33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7381,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
items.isnull().sum()

barcode                               4292
description                            822
finalPrice                             616
itemPrice                              616
needsFetchReview                      6569
partnerItemId                          442
preventTargetGapPoints                7024
quantityPurchased                      616
userFlaggedBarcode                    7045
userFlaggedNewItem                    7059
userFlaggedPrice                      7083
userFlaggedQuantity                   7083
needsFetchReviewReason                7163
pointsNotAwardedReason                7042
pointsPayerId                         6115
rewardsGroup                          5651
rewardsProductPartnerId               5113
userFlaggedDescription                7177
originalMetaBriteBarcode              7311
originalMetaBriteDescription          7372
brandCode                             4782
competitorRewardsGroup                7107
discountedItemPrice                   1614
originalReceiptItemText               1623
itemNumber                            7229
originalMetaBriteQuantityPurchased    7367
pointsEarned                          6453
targetPrice                           7004
competitiveProduct                    6737
originalFinalPrice                    7373
originalMetaBriteItemPrice            7373
deleted                               7373
priceAfterCoupon                      6427
id                                    6942
createDate                            6942
dateScanned                           6942
modifyDate                            6942
rewardsReceiptStatus                  6942
userId                                6942
metabriteCampaignId                   6519
purchasedItemCount                    7377
totalSpent                            7377
bonusPointsEarned                     7380
bonusPointsEarnedReason               7380
finishedDate                          7379
pointsAwardedDate                     7380
purchaseDate                          7379
dtype: int64

In [24]:
len(items.isnull().sum())

47

### Many columns have missing values for now we keep columns up to brand code. Consult with stake holders to figure out the most important columns.

## Analyzing Brands Table

In [25]:
with gzip.open("brands.json.gz", "r") as f3:
    data3 = f3.read()

In [26]:
brands = str(data3)[1:].split('\\n')

In [27]:
def containsNumber(value):
    for character in value:
        if character.isdigit():
            return True
    return False

def parser_brands(records):
    record_list = []
    for record in records:
        record_dict = {}
        for pair in record.split(','):
            key_vals = pair.split(':')
            if 'cpg' in key_vals[0] and 'ref' in key_vals[1]:
                record_dict[re.sub('[^A-Za-z0-9]+', '', key_vals[0])] = re.sub('[^A-Za-z0-9]+', '', record.split(',')[3]).replace('idoid', '')
            else:
                record_dict[re.sub('[^A-Za-z0-9]+', '', key_vals[0])] = re.sub('[^A-Za-z0-9]+', '', key_vals[-1])
        record_list.append(record_dict)
    return record_list

In [28]:
brands_df = pd.DataFrame(parser_brands(brands))

In [29]:
brands_pre_dup = len(brands_df)
brands_df.head(10)

,id,barcode,category,categoryCode,cpg,ref,name,topBrand,brandCode,ThatsGood,ofcourse,TABLETS,ANDGELCAPS,
0,601ac115be37ce2ead437551,511111019862,Baking,BAKING,601ac114be37ce2ead437550,Cogs,testbrand1612366101024,false,NaN,NaN,NaN,NaN,NaN,NaN
1,601c5460be37ce2ead43755f,511111519928,Beverages,BEVERAGES,5332f5fbe4b03c9a25efd0ba,Cogs,Starbucks,false,STARBUCKS,NaN,NaN,NaN,NaN,NaN
2,601ac142be37ce2ead43755d,511111819905,Baking,BAKING,601ac142be37ce2ead437559,Cogs,testbrand1612366146176,false,TESTBRANDCODE1612366146176,NaN,NaN,NaN,NaN,NaN
3,601ac142be37ce2ead43755a,511111519874,Baking,BAKING,601ac142be37ce2ead437559,Cogs,testbrand1612366146051,false,TESTBRANDCODE1612366146051,NaN,NaN,NaN,NaN,NaN
4,601ac142be37ce2ead43755e,511111319917,CandySweets,CANDYANDSWEETS,5332fa12e4b03c9a25efd1e7,Cogs,testbrand1612366146827,false,TESTBRANDCODE1612366146827,NaN,NaN,NaN,NaN,NaN
5,601ac142be37ce2ead43755b,511111719885,Baking,BAKING,601ac142be37ce2ead437559,Cogs,testbrand1612366146091,false,TESTBRANDCODE1612366146091,NaN,NaN,NaN,NaN,NaN
6,601ac142be37ce2ead43755c,511111219897,Baking,BAKING,601ac142be37ce2ead437559,Cogs,testbrand1612366146133,false,TESTBRANDCODE1612366146133,NaN,NaN,NaN,NaN,NaN
7,559c2234e4b06aca36af13c6,511111104810,CondimentsSauces,NaN,559c2234e4b06aca36af13c6,NaN,JLKraft,NaN,JLKRAFT,NaN,NaN,NaN,NaN,NaN
8,5a734034e4b0d58f376be874,511111504412,CannedGoodsSoups,NaN,5a734034e4b0d58f376be874,NaN,CampbellsHomeStyle,false,CAMPBELLSHOMESTYLE,NaN,NaN,NaN,NaN,NaN
9,59ba6f1ce4b092b29c167346,511111504788,Baking,NaN,59ba6f1ce4b092b29c167346,NaN,test,NaN,TEST,NaN,NaN,NaN,NaN,NaN

In [30]:
# dropping columns not listed in the description
brands_df = brands_df.drop(columns = ['ThatsGood', 'ofcourse', 'TABLETS', 'ANDGELCAPS', 'ref', ''])

In [31]:
brands_df = brands_df.drop_duplicates(subset=['id'], keep='first', inplace=False, ignore_index=False)

In [32]:
brands_df.head(10)

,id,barcode,category,categoryCode,cpg,name,topBrand,brandCode
0,601ac115be37ce2ead437551,511111019862,Baking,BAKING,601ac114be37ce2ead437550,testbrand1612366101024,false,NaN
1,601c5460be37ce2ead43755f,511111519928,Beverages,BEVERAGES,5332f5fbe4b03c9a25efd0ba,Starbucks,false,STARBUCKS
2,601ac142be37ce2ead43755d,511111819905,Baking,BAKING,601ac142be37ce2ead437559,testbrand1612366146176,false,TESTBRANDCODE1612366146176
3,601ac142be37ce2ead43755a,511111519874,Baking,BAKING,601ac142be37ce2ead437559,testbrand1612366146051,false,TESTBRANDCODE1612366146051
4,601ac142be37ce2ead43755e,511111319917,CandySweets,CANDYANDSWEETS,5332fa12e4b03c9a25efd1e7,testbrand1612366146827,false,TESTBRANDCODE1612366146827
5,601ac142be37ce2ead43755b,511111719885,Baking,BAKING,601ac142be37ce2ead437559,testbrand1612366146091,false,TESTBRANDCODE1612366146091
6,601ac142be37ce2ead43755c,511111219897,Baking,BAKING,601ac142be37ce2ead437559,testbrand1612366146133,false,TESTBRANDCODE1612366146133
7,559c2234e4b06aca36af13c6,511111104810,CondimentsSauces,NaN,559c2234e4b06aca36af13c6,JLKraft,NaN,JLKRAFT
8,5a734034e4b0d58f376be874,511111504412,CannedGoodsSoups,NaN,5a734034e4b0d58f376be874,CampbellsHomeStyle,false,CAMPBELLSHOMESTYLE
9,59ba6f1ce4b092b29c167346,511111504788,Baking,NaN,59ba6f1ce4b092b29c167346,test,NaN,TEST

In [33]:
print("duplicates removed length: " + str(len(brands_df)))
print("length with duplicates: " + str(brands_pre_dup))
print("duplicates: " + str(brands_pre_dup - len(brands_df)))

duplicates removed length: 232
length with duplicates: 1168
duplicates: 936

#### There are too many duplicates in the brands table

## Analyzing Receipts Table without the itemlist column

In [34]:
receipts = re.sub("[\(\[].*?[\)\]]", "", data1).replace('"rewardsReceiptItemList":,"', '')
receipts_df = pd.DataFrame(parser(receipts.split('\n')))

In [35]:
receipts_df

,id,bonusPointsEarned,bonusPointsEarnedReason,bonuspointscheduleDEFAULT,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,...,priceAfterCoupon,brandCode,competitiveProduct,competitorRewardsGroup,metabriteCampaignId,preventTargetGapPoints,pointsNotAwardedReason,6Ounce,needsFetchReview,
0,5ff1e1eb0a720f0523000575,500,Receiptnumber2completed,bonuspointscheduleDEFAULT,1609687531000,1609687531000,1609687531000,1609687536000,1609687531000,5000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5ff1e1bb0a720f052300056b,150,Receiptnumber5completed,bonuspointscheduleDEFAULT,1609687483000,1609687483000,1609687483000,1609687488000,1609687483000,1500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5ff1e1f10a720f052300057a,5,Allreceiptsreceiptbonus,NaN,1609687537000,1609687537000,NaN,1609687542000,NaN,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5ff1e1ee0a7214ada100056f,5,Allreceiptsreceiptbonus,NaN,1609687534000,1609687534000,1609687534000,1609687539000,1609687534000,50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5ff1e1d20a7214ada1000561,5,Allreceiptsreceiptbonus,NaN,1609687506000,1609687506000,1609687511000,1609687511000,1609687506000,50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1115,603d0b710a720fde1000042a,NaN,NaN,NaN,1614613361873,1614613361873,NaN,1614613361873,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1116,603cf5290a720fde10000413,NaN,NaN,NaN,1614607657664,1614607657664,NaN,1614607657664,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1117,603ce7100a7217c72c000405,25,COMPLETENONPARTNERRECEIPT,NaN,1614604048000,1614604048000,NaN,1614604049000,NaN,250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1118,603c4fea0a7217c72c000389,NaN,NaN,NaN,1614565354962,1614565354962,NaN,1614565354962,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,

In [36]:
receipts_df = receipts_df[['id', 'bonusPointsEarned', 'bonusPointsEarnedReason', 'createDate'
                          ,'dateScanned', 'finishedDate', 'modifyDate', 'pointsAwardedDate'
                          ,'pointsEarned', 'purchaseDate', 'purchasedItemCount', 'rewardsReceiptStatus'
                          ,'totalSpent', 'userId']]

In [37]:
receipts_df = receipts_df.drop(axis = 1, index = 1119)
receipts_df

,id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptStatus,totalSpent,userId
0,5ff1e1eb0a720f0523000575,500,Receiptnumber2completed,1609687531000,1609687531000,1609687531000,1609687536000,1609687531000,5000,1609632000000,5,FINISHED,2600,5ff1e1eacfcf6c399c274ae6
1,5ff1e1bb0a720f052300056b,150,Receiptnumber5completed,1609687483000,1609687483000,1609687483000,1609687488000,1609687483000,1500,1609601083000,2,FINISHED,1100,5ff1e194b6a9d73a3a9f1052
2,5ff1e1f10a720f052300057a,5,Allreceiptsreceiptbonus,1609687537000,1609687537000,NaN,1609687542000,NaN,5,1609632000000,1,REJECTED,1000,5ff1e1f1cfcf6c399c274b0b
3,5ff1e1ee0a7214ada100056f,5,Allreceiptsreceiptbonus,1609687534000,1609687534000,1609687534000,1609687539000,1609687534000,50,1609632000000,4,FINISHED,2800,5ff1e1eacfcf6c399c274ae6
4,5ff1e1d20a7214ada1000561,5,Allreceiptsreceiptbonus,1609687506000,1609687506000,1609687511000,1609687511000,1609687506000,50,1609601106000,2,FINISHED,100,5ff1e194b6a9d73a3a9f1052
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1114,603cc0630a720fde100003e6,25,COMPLETENONPARTNERRECEIPT,1614594147000,1614594147000,NaN,1614594148000,NaN,250,1597622400000,2,REJECTED,3496,5fc961c3b8cfca11a077dd33
1115,603d0b710a720fde1000042a,NaN,NaN,1614613361873,1614613361873,NaN,1614613361873,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1116,603cf5290a720fde10000413,NaN,NaN,1614607657664,1614607657664,NaN,1614607657664,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1117,603ce7100a7217c72c000405,25,COMPLETENONPARTNERRECEIPT,1614604048000,1614604048000,NaN,1614604049000,NaN,250,1597622400000,2,REJECTED,3496,5fc961c3b8cfca11a077dd33
1118,603c4fea0a7217c72c000389,NaN,NaN,1614565354962,1614565354962,NaN,1614565354962,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33

In [38]:
receipts_df.isnull().sum()

id                           0
bonusPointsEarned          575
bonusPointsEarnedReason    575
createDate                   0
dateScanned                  0
finishedDate               551
modifyDate                   0
pointsAwardedDate          582
pointsEarned               510
purchaseDate               448
purchasedItemCount         484
rewardsReceiptStatus         0
totalSpent                 435
userId                       0
dtype: int64

In [39]:
receipts_df.drop_duplicates(subset = ['id'])

,id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptStatus,totalSpent,userId
0,5ff1e1eb0a720f0523000575,500,Receiptnumber2completed,1609687531000,1609687531000,1609687531000,1609687536000,1609687531000,5000,1609632000000,5,FINISHED,2600,5ff1e1eacfcf6c399c274ae6
1,5ff1e1bb0a720f052300056b,150,Receiptnumber5completed,1609687483000,1609687483000,1609687483000,1609687488000,1609687483000,1500,1609601083000,2,FINISHED,1100,5ff1e194b6a9d73a3a9f1052
2,5ff1e1f10a720f052300057a,5,Allreceiptsreceiptbonus,1609687537000,1609687537000,NaN,1609687542000,NaN,5,1609632000000,1,REJECTED,1000,5ff1e1f1cfcf6c399c274b0b
3,5ff1e1ee0a7214ada100056f,5,Allreceiptsreceiptbonus,1609687534000,1609687534000,1609687534000,1609687539000,1609687534000,50,1609632000000,4,FINISHED,2800,5ff1e1eacfcf6c399c274ae6
4,5ff1e1d20a7214ada1000561,5,Allreceiptsreceiptbonus,1609687506000,1609687506000,1609687511000,1609687511000,1609687506000,50,1609601106000,2,FINISHED,100,5ff1e194b6a9d73a3a9f1052
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1114,603cc0630a720fde100003e6,25,COMPLETENONPARTNERRECEIPT,1614594147000,1614594147000,NaN,1614594148000,NaN,250,1597622400000,2,REJECTED,3496,5fc961c3b8cfca11a077dd33
1115,603d0b710a720fde1000042a,NaN,NaN,1614613361873,1614613361873,NaN,1614613361873,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1116,603cf5290a720fde10000413,NaN,NaN,1614607657664,1614607657664,NaN,1614607657664,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1117,603ce7100a7217c72c000405,25,COMPLETENONPARTNERRECEIPT,1614604048000,1614604048000,NaN,1614604049000,NaN,250,1597622400000,2,REJECTED,3496,5fc961c3b8cfca11a077dd33
1118,603c4fea0a7217c72c000389,NaN,NaN,1614565354962,1614565354962,NaN,1614565354962,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33